/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/*NAVBAR*/
:root {
    --primary-color: #0a0d14;
    --primary-color-light: #20242f;
    --secondary-color: #f49e09;
    --extra-light: rgba(255, 255, 255, 0.5);
    --white: #ffffff;
    --max-width: 1200;
    --header-font: "Lisu Bosa", serif;
}

nav {
    background-color: black;
    border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
    max-width:var(--max-width) ;
    margin: auto;
    padding: 1.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav__logo a{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    padding: 1.5rem 5px;
    font-weight: 500;
    color: var(--white);
    transition: 0.3s;
    text-decoration: none;
    
}

.link a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
} 

.slider-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider-wrapper .slider-item {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
 .slider-wrapper .slider-item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(20%);
    background-image: url("imaginigalerie/sisi1.png");
    background-size: cover;
    background-position: center;
}

.slider-wrapper .slider-item:nth-child(2):before {
    background-image: url("imaginigalerie/sisi7..jpg")
}

.slider-wrapper .slider-item:nth-child(3):before {
    background-image: url("imaginigalerie/sisi3.jpg")
}

.slider-wrapper .slider-item:nth-child(4):before {
    background-image: url("imaginigalerie/familiaimperiala.jpg")
}

.slider-wrapper .slider-item:nth-child(5):before {
    background-image: url("imaginigalerie/hofburg2.jpg")
}

.slider-wrapper .slider-item .slide-content {
    opacity: 0;
    color: #fff;
    z-index: 20;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    position: relative;
}

.slider-item.swiper-slide-active .slide-content {
    animation: animate_opacity 0.8s 0.6s linear forwards;
}

@keyframes animate_opacity {
    100% {
        opacity: 1;
    }
}

.slider-wrapper .slider-item .slide-content > * {
    max-width: 20%;
}

.slider-item .slide-content .slide-subtitle {
    font-size: 1rem;
    font-weight: normal;
    opacity: 0;
    transform: translateY(60%);
}


.slider-item .slide-content .slide-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(60%);
}

.slider-item.swiper-slide-active :where(.slide-subtitle, .slide-title ) {
    animation: animate_text 0.6s 0.6s linear forwards;
}

@keyframes animate_text {
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.slider-item .slide-content .slide-description {
    margin-top: 25px;
    line-height: 25px;
    opacity: 0;
    transform: translateY(60%);
}


.slider-item.swiper-slide-active .slide-description {
    animation: animate_text 0.6s 1s linear forwards;
}

.slider-item .slide-content .slide-button {
    color: #fff;
    width: 250px;
    padding:13px 0;
    display: block;
    margin-top: 45px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
    transform: 0.5s ease;
}



.slider-item .slide-content .slide-button:hover {
    color: #000;
    background: #fff;
} 

.slider-container .slider-controls {
    position: absolute;
    bottom: 45px;
    z-index: 20;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-controls .slider-pagination {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;
    list-style: none;
    justify-content: space-between;
}

.slider-pagination .slider-indicator {
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid #fff;
    transition: 0.4s ease-in-out;
}

.slider-pagination .slider-tab {
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.slider-navigations button {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 20;
    color: #fff;
    border: none;
    background: #202022;
    transform: translateY(-50%);
    transition: 0.4s ease;
}

.slider-navigations button.swiper-button-disabled {
    display: none;
}

.slider-navigations button:hover {
    background: #323235;
}

.slider-navigations button#slide-prev {
    left: 20px;
}

.slider-navigations button#slide-next {
    right: 20px;
}

@media (max-width: 1536px) {
    .slider-wrapper .slider-item .slider-content, .slider-controls .slider-pagination {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    .slider-wrapper .slider-item .slider-content, .slider-controls .slider-pagination {
        width: 100%;
    }

    .slider-wrapper .slider-item .slide-content > * {
        max-width: 66%;
    }

    .slider-navigations button {
        top: unset;
        bottom: -15px;
        background: none;
    }

    .slider-navigations button:hover {
        background: none;
    }
}

@media (max-width: 768px) {
    .slider-wrapper .slider-item .slide-content > * {
        max-width: 100%;
    }

} 


/*NAVBAR*/
:root {
    --primary-color: #0a0d14;
    --primary-color-light: #20242f;
    --secondary-color: #f49e09;
    --extra-light: rgba(255, 255, 255, 0.5);
    --white: #ffffff;
    --max-width: 1200;
    --header-font: "Lisu Bosa", serif;
}

nav {
    background-color: black;
    border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
    max-width:var(--max-width) ;
    margin: auto;
    padding: 1.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav__logo a{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    padding: 1.5rem 5px;
    font-weight: 500;
    color: var(--white);
    transition: 0.3s;
    text-decoration: none;
    
}

.link a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}